div.box{
    width: 150px;
    height: 250px;
    background-color: gold;
    border: 1px dashed red;
}

.tui-pagination{
    display:flex;
    height: 150px;
    width: 600px;
    border: 10px solid green;
}